camunda-utils @ https://github.com/camunda/rpa-python-libraries/releases/download/camunda-utils-v0.4.1/camunda_utils-0.4.1-py3-none-any.whl
## ^ provides robotframework

#camunda-rpa @ https://github.com/camunda/rpa-python-libraries/releases/download/camunda-rpa-v0.3.1/camunda_rpa-0.3.1-py3-none-any.whl

PyYAML