camunda-utils @ https://github.com/camunda/rpa-python-libraries/releases/download/camunda-utils-v0.5.0/camunda_utils-0.5.0-py3-none-any.whl
## ^ provides robotframework

requests
robotframework-requests

PyYAML